@charset "UTF-8";

@import 'normalize';
@import 'theme';

html {
  box-sizing: border-box;
}

body {
  background-color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: $title-fontname;
  font-weight: 400;
}

/* Helper Classes */

.flex-vertical-container {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
}

.flex-horizontal-container {
  display        : flex;
  justify-content: center;
  width          : 100vw;
}

.text-centered {
  text-align: center;
}

.light-text {
  color: $light-color;
}

.dark-text {
  color: $dark-color;
}

/* Forms */

input, button {
  margin-left  : 5px;
  margin-right : 5px;
  border       : 1px solid $median-color;
  border-radius: 3px;
  background   : $light-color;
  color        : $dark-color;
  font         : $base-fontsize $base-fontname;
}

input {
  padding         : 5px 5px 4px 5px;
  text-shadow     : 0 1px 0 $light-color;
  background-color: $light-color;
}

button {
  padding    : 4px 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 $light-color;
  &:hover, &:active {
    color     : $dark-color;
    background: $median-color;
  }
}

/* Disconnected Screen */

h1.title {
  font-size  : 10em;
  text-shadow: 3px 3px $median-color;
  margin-top: 0;
  margin-bottom: 0;
}

h2.title {
  font-size  : 5em;
}

h1.join {
  color: orange;
  text-stroke: 1px black;
  text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

h3.title {
  font-size: 3.5em;
}

h2.timer > * {
  position: absolute;
  bottom: 2vh;
}

/* Connected Screen */

/* Dashboard - Admin */

.button {
  font-size: 4em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: cornflowerblue;
  color: whitesmoke;
  border: 1px solid black;
}

.instance {
  background-image: url('/admin/assets/img/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.list {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 150px;
  margin-left: -5%;
}

.list-item {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 55px;
}

.carrot {
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
  padding-left: 137px;
}

div.rabbit {
  z-index: 100;
  position: absolute;
  bottom: 0;
  padding-bottom: 52px;
}

img.rabbit {
  z-index: 100;
}

div.winner {
  display: flex;
  align-items: center;
}

h2.winner {
  margin-left: 25px;
}

.rabbit-text {
  position: absolute;
  bottom: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  width: 73%;
  margin-left:27%;
}

.rabbit-text-1 {
  border-top-color: #0066ff;
  border-bottom-color: #0066ff;
}

.rabbit-text-2 {
  border-top-color: #6600ff;
  border-bottom-color: #6600ff;
}

.rabbit-text-3 {
  border-top-color: #ff00ff;
  border-bottom-color: #ff00ff;
}

.rabbit-text-4 {
  border-top-color: #66cc66;
  border-bottom-color: #66cc66;
}

.rabbit-text-5 {
  border-top-color: #666666;
  border-bottom-color: #666666;
}

.rabbit-text-6 {
  border-top-color: #ff8800;
  border-bottom-color: #ff8800;
}

.rabbit-text-7 {
  border-top-color: #ffcc00;
  border-bottom-color: #ffcc00;
}

.rabbit-text-8 {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.rabbit-text-9 {
  border-top-color: #222222;
  border-bottom-color: #222222;
}

.rabbit-text-10 {
  border-top-color: #ff0000;
  border-bottom-color: #ff0000;
}