@charset "UTF-8";

@import 'normalize';
@import 'theme';

html {
  box-sizing: border-box;
}

body {
  background-color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: $title-fontname;
  font-weight: 400;
}

/* Helper Classes */

.flex-vertical-container {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
}

.flex-horizontal-container {
  display        : flex;
  justify-content: center;
  width          : 100vw;
}

.text-centered {
  text-align: center;
}

.light-text {
  color: $light-color;
}

.dark-text {
  color: $dark-color;
}

/* Forms */

input, button {
  margin-left  : 5px;
  margin-right : 5px;
  border       : 1px solid $median-color;
  border-radius: 3px;
  background   : $light-color;
  color        : $dark-color;
  font         : $base-fontsize $base-fontname;
}

input {
  padding         : 5px 5px 4px 5px;
  text-shadow     : 0 1px 0 $light-color;
  background-color: $light-color;
}

button {
  padding    : 4px 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 $light-color;
  &:hover, &:active {
    color     : $dark-color;
    background: $median-color;
  }
}

/* Disconnected Screen */

h1.title {
  font-size  : 5em;
  text-shadow: 3px 3px $median-color;
  margin-top: 0;
  margin-bottom: 0;
}

h2.title {
  font-size  : 3.5em;
}

h3.title {
  font-size  : 3em;
}

/* Connected Screen */

/* Dashboard - Admin */

.button {
  font-size  : 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.instance {
  background-image: url('/admin/assets/img/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.list {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 150px;
  margin-left: -5%;
}

.list-item {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.carrot {
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
  top: -100px;
  padding-left: 139px;
}

.rabbit {
  z-index: 100;
  position: absolute;
  bottom: 0;
  justify-content: flex-end;
  display: flex;
  padding-bottom: 56px;
}

.rabbit-text {
  position: absolute;
  bottom: 0;
  border-top: 20px solid dodgerblue;
  border-bottom: 20px solid dodgerblue;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  width: 73%;
}